<%= render 'books/list', user: @user,book: @books %>

<div>
  <h3><%= @user.name %></h3>

</div>

<% @book.each do |book| %>

<div>
  <%= link_to user_path(@user.id) do %>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% end %>

  <%= link_to book_path(book.id) do %>
  <p>title：<%= book.title %></p>
  <% end %>

  <p>Opinion：<%= book.body %></p>
</div>
<% end %>