<h1>User info</h1>


   <p><%= image_tag user.get_profile_image(100,100) %></p>

  <div>
   <h3><%= user.name %></h3>
   <h3><%= user.introduction %></h3>
    </div>

   <li>
    <%= link_to 'useredit', edit_user_path(current_user.id) %>
   </li>

<h1>NewBooks</h1>
  <%= form_with model: book do |f| %>

    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Option</h4>
      <%= f.text_area :body %>
    <%= f.submit 'submit' %>

  <% end %>
