<div>

   <%= image_tag @book.get_image %>
  <p>Title：<%= @book.title %></p>
  <p>option：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <p>投稿日：<%= @book.created_at.strftime('%Y/%m/%d') %></p>

</div>